seo-content-engine-v2/workflow.json
{
  "name": "SEO Content Engine v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seo_content_engine_v2_trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-500, 300],
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7e6d5c4-b3a2-4190-8081-716253443526",
              "name": "status",
              "type": "string",
              "value": "={{ $json.status }}"
            },
            {
              "id": "a1b2c3d4-5678-4abc-9def-0123456789ab",
              "name": "seed_keyword",
              "type": "string",
              "value": "={{ $json.seed_keyword }}"
            },
            {
              "id": "b2c3d4e5-6789-4bcd-aef0-123456789abc",
              "name": "keyword_id",
              "type": "string",
              "value": "={{ $json.keyword_id }}"
            },
            {
              "id": "c3d4e5f6-789a-4cde-bf01-23456789abcd",
              "name": "article_id",
              "type": "string",
              "value": "={{ $json.article_id }}"
            },
            {
              "id": "d4e5f6a7-89ab-4def-c012-3456789abcde",
              "name": "brand_id",
              "type": "string",
              "value": "={{ $json.brand_id }}"
            },
            {
              "id": "e5f6a7b8-9abc-4ef0-d123-456789abcdef",
              "name": "base_id",
              "type": "string",
              "value": "appAXh47Y24CIZp8A"
            },
            {
              "id": "f6a7b8c9-abcd-4f01-e234-56789abcdef0",
              "name": "v2_keywords_table_id",
              "type": "string",
              "value": "REPLACE_WITH_TABLE_ID"
            },
            {
              "id": "a7b8c9d0-bcde-4012-f345-6789abcdef01",
              "name": "v2_serp_briefs_table_id",
              "type": "string",
              "value": "REPLACE_WITH_TABLE_ID"
            },
            {
              "id": "b8c9d0e1-cdef-4123-a456-789abcdef012",
              "name": "v2_articles_table_id",
              "type": "string",
              "value": "REPLACE_WITH_TABLE_ID"
            },
            {
              "id": "c9d0e1f2-def0-4234-b567-89abcdef0123",
              "name": "brand_guidelines_table_id",
              "type": "string",
              "value": "tblNyxqTNSLUbjybg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [-200, 300],
      "id": "1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5e",
      "name": "Workflow Settings"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "keyword_research",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d0e1f2a3-ef01-4345-c678-9abcdef01234"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "keyword_research"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "serp_analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e1f2a3b4-f012-4456-d789-abcdef012345"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "serp_analysis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "write_article",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f2a3b4c5-0123-4567-e89a-bcdef0123456"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "write_article"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "publish_article",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a3b4c5d6-1234-4678-f9ab-cdef01234567"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "publish_article"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [100, 300],
      "id": "2b3c4d5e-6f7a-4b8c-9d0e-1f2a3b4c5d6f",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "={{ $('Workflow Settings').item.json.base_id }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('Workflow Settings').item.json.brand_guidelines_table_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [400, 100],
      "id": "c4a1e7f0-1b2d-4f8a-9c3e-5d6f7a8b9c0d",
      "name": "Get Brand Context"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Workflow Settings').item.json.seed_keyword }}"
            },
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300],
      "id": "d5b2f8a1-2c3e-4a9b-0d4f-6e7a8b9c0d1e",
      "name": "Brave Search Direct"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Workflow Settings').item.json.seed_keyword }} software tools"
            },
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 500],
      "id": "e6c3a9b2-3d4f-4b0c-1e5a-7f8b9c0d1e2f",
      "name": "Brave Search Commercial"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Workflow Settings').item.json.seed_keyword }} site:reddit.com OR site:quora.com"
            },
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 700],
      "id": "f7d4b0c3-4e5a-4c1d-2f6b-8a9c0d1e2f3a",
      "name": "Brave Search Reddit"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [700, 500],
      "id": "a8e5c1d4-5f6b-4d2e-3a7c-9b0d1e2f3a4b",
      "name": "Aggregate Search Results"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Seed Keyword: {{ $('Workflow Settings').item.json.seed_keyword }}\n\nBrand Context:\n{{ $('Get Brand Context').item.json }}\n\nSearch Results:\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are an SEO keyword research expert. Given a seed keyword, brand context, and search results, generate exactly 25 long-tail keyword variations. Output as a JSON array of objects with fields: keyword, category (one of: question, comparison, problem-aware, commercial, long-tail), search_intent (informational, commercial, transactional, navigational). Wrap output in a json code block."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [900, 300],
      "id": "b9f6d2e5-6a7c-4e3f-4b8d-0c1e2f3a4b5c",
      "name": "Claude KW Expansion"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [900, 520],
      "id": "c0a7e3f6-7b8d-4f4a-5c9e-1d2f3a4b5c6d",
      "name": "Anthropic Model KW"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.output || $input.first().json.text || '';\nlet keywords;\ntry { keywords = JSON.parse(response); } catch(e) {\n  const match = response.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (match) keywords = JSON.parse(match[1]);\n  else throw new Error('Could not parse keywords');\n}\nif (!Array.isArray(keywords)) keywords = keywords.keywords || [];\nreturn keywords.map(k => ({ json: k }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "id": "d1b8f4a7-8c9e-4a5b-6d0f-2e3a4b5c6d7e",
      "name": "Parse Keywords"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "={{ $('Workflow Settings').item.json.base_id }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('Workflow Settings').item.json.v2_keywords_table_id }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyword": "={{ $json.keyword }}",
            "seed_keyword": "={{ $('Workflow Settings').item.json.seed_keyword }}",
            "category": "={{ $json.category }}",
            "status": "pending_serp",
            "brand_id": "={{ $('Workflow Settings').item.json.brand_id }}"
          },
          "matchingColumns": [],
          "schema": []
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1300, 300],
      "id": "e2c9a5b8-9d0f-4b6c-7e1a-3f4b5c6d7e8f",
      "name": "Save Keywords"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Workflow Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Settings": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          { "node": "Get Brand Context", "type": "main", "index": 0 },
          { "node": "Brave Search Direct", "type": "main", "index": 0 },
          { "node": "Brave Search Commercial", "type": "main", "index": 0 },
          { "node": "Brave Search Reddit", "type": "main", "index": 0 }
        ],
        [],
        [],
        []
      ]
    },
    "Brave Search Direct": {
      "main": [
        [
          { "node": "Aggregate Search Results", "type": "main", "index": 0 }
        ]
      ]
    },
    "Brave Search Commercial": {
      "main": [
        [
          { "node": "Aggregate Search Results", "type": "main", "index": 0 }
        ]
      ]
    },
    "Brave Search Reddit": {
      "main": [
        [
          { "node": "Aggregate Search Results", "type": "main", "index": 0 }
        ]
      ]
    },
    "Aggregate Search Results": {
      "main": [
        [
          { "node": "Claude KW Expansion", "type": "main", "index": 0 }
        ]
      ]
    },
    "Anthropic Model KW": {
      "ai_languageModel": [
        [
          { "node": "Claude KW Expansion", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Claude KW Expansion": {
      "main": [
        [
          { "node": "Parse Keywords", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Keywords": {
      "main": [
        [
          { "node": "Save Keywords", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
